---
import BlogCard from "@/components/cards/BlogCard.astro";
import { getCollection } from "astro:content";

const { allPosts = [], listPage = false, postsPerPage = 6, pagination = { enable: false, currentPage: 1 } } = Astro.props;

const sortedPosts = allPosts
  .filter(p => !p.data.featured)
  .sort((a: any, b: any) => new Date(b.data.publishDate).valueOf() - new Date(a.data.publishDate).valueOf());

const start = (pagination.currentPage - 1) * postsPerPage;
const paginatedPosts = sortedPosts.slice(start, start + postsPerPage);
---

<div class="grid grid-cols-1 gap-8">
  {paginatedPosts.map((post: any) => (
    <BlogCard post={post} />
  ))}
</div>