<Layout
  title="童心未泯"
  description="保持好奇，永远出发。这里为探索与尝鲜而生。"
  keywords="Sai, 摄影, Web Design, UI Design, Frontend Development, Creative Designer"
>
  <!-- 顶部 hero 区域 -->
  <div class="relative site-container z-20 w-full mx-auto mt-8 px-4 md:mt-10 lg:mt-12 xl:px-0">
    <div class="relative w-full px-4 flex flex-col items-center justify-between md:flex-row mb-4">
      <div class="relative w-full md:max-w-[420px] md:w-1/2 text-center sm:text-left sm:-mt-4">
        <h1 class="mb-2">
          <AnimatedText
            content="Dream Big, Work Hard, Achieve More!"
            delay={0.1}
            duration={0.5}
            stagger={0.08}
            class="text-5xl text-pri leading-tight md:text-4xl lg:text-6xl font-brand"
          />
        </h1>

        <div class="mb-1">
          <AnimatedText
            content="保持好奇，永远出发。这里为探索与尝鲜而生。"
            delay={0.3}
            duration={0.5}
            stagger={0.015}
            class="text-base text-neutral-700 dark:text-neutral-300"
          />
        </div>

        <div class="mb-2">
          <AnimatedText
            content="听风知远意 望潮见心澜"
            delay={0.5}
            duration={0.5}
            stagger={0.015}
            class="text-base text-neutral-700 dark:text-neutral-300"
          />
        </div>

        <div data-aos="fade-up-sm" data-aos-delay="900" data-aos-duration="500" data-aos-once="true">
          <Button url={siteConfig.social.twitter} type="fill" className="m-auto mt-2 sm:text-left sm:m-0 sm:mt-4 max-w-[200px]">
            Follow me on 𝕏
          </Button>
        </div>

        <div class="social mt-4 mb-4" data-aos="fade-up-sm" data-aos-delay="1000" data-aos-duration="600" data-aos-once="true">
          <SocialCard displaySocialIds={[1,2,3,4]} />
        </div>
      </div>
    </div>
  </div>

  <!-- Featured Work -->
  <section
    class="mt-4 mb-4"
    data-aos="fade-up-sm"
    data-aos-delay="100"
    data-aos-duration="600"
    data-aos-once="true"
  >
    <FeaturedWork
      title="精选作品 ↓"
      description="以创意为引，以镜头为笔，我记录每一个动人瞬间，让作品既打动人，也留下印记。"
      limit={5}
    />
  </section>

  <!-- Blog Section -->
  <section
    class="mt-4 mb-4"
    data-aos="fade-up-sm"
    data-aos-delay="150"
    data-aos-duration="600"
    data-aos-once="true"
  >
    <BlogSection
      title="最新文章  ↓"
      description="这些是我用镜头与文字留下的影像与旅途，每一篇都是生活的片段与感悟。"
      showViewAllButton={true}
    />
  </section>
</Layout>