---
import PageLayout from "@/layouts/PageLayout.astro";
import PageHeader from "@/components/elements/PageHeader.astro";
import Weather from "@/components/Weather.jsx";

// 你想展示的城市
const cities = ["昆明", "大理", "保山", "腾冲", "芒市", "景洪"];
---

<PageLayout title="工具 | 天气">
  <section class="site-container m-auto min-h-[50vh] flex flex-col items-center justify-center">
    <PageHeader
      title="多地天气"
      description="实时显示指定城市的天气情况"
    />
    <div class="mt-6 w-full grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-6">
      <Weather client:load cities={cities} />
    </div>
  </section>
</PageLayout>