name: Deploy Astro site to VPS

on:
  #push:
    #branches: [ main ]
  workflow_dispatch:  # 手动运行

jobs:
  deploy-vps:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup pnpm
        uses: pnpm/action-setup@v3
        with:
          version: 9

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: pnpm

      - name: Install dependencies
        run: pnpm install

      - name: Build project
        run: pnpm run build

      # -------------------------
      # 使用 SSH Key 部署到 VPS
      # -------------------------
      - name: Copy files to VPS via SSH
        uses: easingthemes/ssh-deploy@v4
        env:
          SSH_PRIVATE_KEY: ${{ secrets.VPS_SSH_KEY }}
          REMOTE_HOST: ${{ secrets.VPS_HOST }}
          REMOTE_USER: ${{ secrets.VPS_USER }}
          REMOTE_PORT: 22
          SOURCE: "dist/"
          TARGET: "/opt/1panel/www/sites/oni.yt/index/"
          ARGS: "-avz --delete"